#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #0e0e0e;
    z-index: 30;}
     
    .contpre small{font-size:25px;}
     
    .contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
     
    #p_prldr .svg_anm {
    position: absolute;
    width: 148px;
    height: 116px;
    background: url("images/6Vac.gif") center center repeat;
    
    margin: -250px 0 0 -5px;}
    
